<mat-spinner *ngIf="isLoading" class="center"></mat-spinner>

<div class="detail-container" *ngIf="isUserLoggedin && !isLoading">
  <div class="picture-section">
    <img [src]="userFound?.picturePath" alt="default-picture" />
    <h1 class="mt-3">{{ userFound?.firstName }}</h1>
    <h1>{{ userFound?.lastName }}</h1>
  </div>
  <div class="user-details">
    <h1>Everything we know about {{ userFound?.firstName }}:</h1>
    <ul class="mt-4">
      <li>
        <p>First Name: {{ userFound?.firstName }}</p>
      </li>
      <li>
        <p>Last Name: {{ userFound?.lastName }}</p>
      </li>
      <li>
        <p>Username: {{ userFound?.username }}</p>
      </li>
      <li>
        <p>
          Actual Programming level: {{ userFound?.userLevel }} 👉
          {{
            actualLevel > 5
              ? "You rock at programming!"
              : "You still have to learn"
          }}
        </p>
      </li>
    </ul>
  </div>
</div>
