<header>
  <nav
    class="navbar navbar-dark bg-primary header-component m-0 p-0"
    *ngIf="!userLoggedIn"
  >
    <!-- Navbar content -->
    <div
      class="ms-4 my-auto text-white beuth-log"
      [routerLink]="['/']"
      [style]="{ cursor: 'pointer' }"
    >
      <h1>Beuth App</h1>
    </div>

    <div class="divisor"></div>

    <div class="mat-card-title">
      <form
        class="post-form"
        #postForm="ngForm"
        (submit)="onSubmitHandler(postForm)"
      >
        <mat-form-field>
          <input
            matInput
            name="email"
            placeholder="email"
            ngModel
            #title="ngModel"
            required
            minlength="3"
          />
          <mat-error *ngIf="title.invalid"
            >Plese enter a valid title (at least 3 characters)</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            class="p-1"
            type="password"
            matInput
            name="password"
            placeholder="password"
            ngModel
            #password="ngModel"
            required
            minlength="3"
          />
          <mat-error *ngIf="password.invalid"
            >Plese enter a valid content (at least 3 characters)</mat-error
          >
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
          Save Post
        </button>
      </form>
    </div>
  </nav>

  <nav
    class="navbar fixed-top navbar-dark bg-primary header-component m-0 p-2 d-flex justify-content-between align-items-center"
    *ngIf="userLoggedIn"
  >
    <h3 class="my-auto mx-4 text-white">Beuth Verlag</h3>
    <button
      mat-raised-button
      color="accent"
      class="mx-4"
      (click)="onLogoutHandler()"
    >
      logout
    </button>
  </nav>
</header>
