<!-- <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>One</a>
    <ng-template ngbNavContent>
      <p>test1</p>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Two</a>
    <ng-template ngbNavContent>
      <p>test2</p>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Three</a>
    <ng-template ngbNavContent>
      <p>test3</p>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

 -->

<nav class="navbar navbar-dark bg-primary">
  <!-- Navbar content -->
  <h3
    class="ms-4 my-auto text-white"
    [routerLink]="['/']"
    [style]="{ cursor: 'pointer' }"
  >
    Beuth App
  </h3>
</nav>
