<!-- <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>One</a>
    <ng-template ngbNavContent>
      <p>test1</p>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Two</a>
    <ng-template ngbNavContent>
      <p>test2</p>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Three</a>
    <ng-template ngbNavContent>
      <p>test3</p>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

 -->

<header>
  <nav class="navbar navbar-dark bg-primary header-component m-0 p-0">
    <!-- Navbar content -->
    <div
      class="ms-4 my-auto text-white beuth-log"
      [routerLink]="['/']"
      [style]="{ cursor: 'pointer' }"
    >
      <h1>Beuth App</h1>
    </div>

    <div class="divisor"></div>

    <div class="mat-card-title">
      <form
        class="post-form"
        #postForm="ngForm"
        (submit)="onSubmitHandler(postForm)"
      >
        <mat-form-field>
          <input
            matInput
            name="email"
            placeholder="email"
            ngModel
            #title="ngModel"
            required
            minlength="3"
          />
          <mat-error *ngIf="title.invalid"
            >Plese enter a valid title (at least 3 characters)</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            class="p-1"
            type="password"
            matInput
            name="password"
            placeholder="password"
            ngModel
            #password="ngModel"
            required
            minlength="3"
          />
          <mat-error *ngIf="password.invalid"
            >Plese enter a valid content (at least 3 characters)</mat-error
          >
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
          Save Post
        </button>
      </form>
    </div>
  </nav>
</header>
